.heading{
    text-align: center;
    font-size: 16px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #182a88;
    text-decoration: underline;
}

.data{
    width: 80%;
    margin: auto;
    font-size: 11px;
    color: #586fe4;
}

.intro{
    font-weight: bold;
    color: #182a88;
}

.titles{
    width: fit-content;
    margin: auto;
    margin-top: 200px;
}

.to{
    font-size: 14px;
    letter-spacing: 0.48px;
    color: #5461a5;
    margin: 0;
}

.name{
    font-weight: bold;
}
